

body {
    font-family: Montserrat, sans-serif;
    background-color: #169fe6;
    margin: 0;
    padding: 0;


}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding:0  50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #013e73;
    margin-top: 40px;
    padding-top:    40px;
    font-size: 50px;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    font-family: Montserrat;
}

h3{
    font-family: Montserrat;
    color: #013e73;

}

.preparation {
    margin-bottom: 20px;
    border-bottom: 1px solid #e9ecef;
}

.title {
    font-size: 1.5em;
    color: ##013e73;
    cursor: pointer;
    margin: 0;
    padding: 10px 0;
}

.content {
    display: none; /* Oculto por defecto */
    padding: 10px 0;
}

.videos {

    display: flex ;
    flex-wrap: wrap;
    gap: 25px ;
    margin-top: 40px;
    margin: 20px;
}

.video {


    position: relative ;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    }
.video iframe{
    position: absolute;
    top: 0;
    left:0;
    width: 70%;
    height: 70%;
    border: 0;

}
.boton{
    background-color: #169fe6; /* Color celeste claro */
    color: white;              /* Color del texto */
    border: none;             /* Sin borde */
    padding: 10px 20px;       /* Espaciado interno */
    margin: 20px;
    border-radius: 3%;        /* Bordes redondeados al 100% para hacerlo circular */
    cursor: pointer;           /* Cambia el cursor a un puntero */
    font-size: 16px;           /* Tamaño de la fuente */
    text-align: center;        /* Centra el texto */
    outline: none;             /* Sin contorno al hacer clic */
    box-shadow: 7px 8px 9px 1px rgba(0, 0, 0, 0.1); /* Sombra para efecto 3D */
    transition: background-color 0.3s; /* Transición suave en hover */
}


@media (max-width: 768px) {
    .titulo {
        padding: 20px; /* Más espaciado para pantallas pequeñas */
        text-align: center; /* Centra el texto en caso de necesitarlo */
    }

    h1 {
        font-size: 40px; /* Ajusta el tamaño del texto */
    }
}
